
/* font-family: 'Poppins', sans-serif;
font-family: 'Lacquer', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Song Myung', serif;
*/

:root{
  /* Set neon color */
  --neon-result-color: #000000;
}

body {
   background-color: #2c3e50;
   color: white;
   font-size: 1.2em;
   /* font-family: 'Merienda One', cursive; */
   font-family: 'Lacquer', 'Song Myung', sans-serif;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
    from{
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.js-weather{
  display: inline-block;
  position: fixed;
  right: -5px;
  top: 0;
  padding-top: 1rem;
  width: 100%;
}

#headerBtn {
  position:absolute;
  top:0;
  right:0;
}

.js-date{
  font-size: 2rem;
  margin-top: 3rem;
}

.js-clock{
  font-size: 1rem;
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    opacity: 0.35;
    animation: fadeIn .1s running slidein;
}

.askName,
.greeting {
    display: none;
}

.showing {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-size: 5rem;
    margin-bottom: 1%;
}

input::placeholder {
  font-family: 'Montserrat', cursive;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

form > input {
  font-size: 1.5rem;
  align-content: center;
  font-family: 'Montserrat', 'Song Myung', cursive;
  width: 70%;
  background-color: rgba(50, 50, 50, 0.5);

  color: white;
  text-align: center;

  border-radius: 100px;
  border: 2px solid rgb(247, 247, 247);
  box-shadow: inset 0 0 0 0.1px #fff, 0 0 0 0.1px #fff, 2px -2px 10px #fff,
  -3px 3px 10px #fff;
}

form {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}

.toDoList{
  display: inline-block;
  width: 50%;
  float: left;
}

ul > li {
  list-style: none;
  padding-left: 20%;
  font-size: 1em;
  text-shadow: -0.1rem -0.1rem 1rem #000, 0.1rem 0.1rem 1rem #000,
   0 0 2rem var(--neon-result-color), 0 0 4rem var(--neon-result-color),
   0 0 6rem var(--neon-result-color), 0 0 8rem var(--neon-result-color),
   0 0 4rem var(--neon-result-color);

}

ul > h2 {
  font-size: 1.2em;
  font-family: 'Montserrat','Song Myung', cursive;
  text-align: center;
  text-shadow: -0.1rem -0.1rem 1rem #000, 0.1rem 0.1rem 1rem #000,
   0 0 2rem var(--neon-result-color), 0 0 4rem var(--neon-result-color),
   0 0 6rem var(--neon-result-color), 0 0 8rem var(--neon-result-color),
   0 0 4rem var(--neon-result-color);
}

button{
  border: 0px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.8em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;
    text-align: center;
}

a{
  color: #ffffff;
}
